<div class="container-fluid">

  <div class="row text-center">

    <!-- Blog Entries Column -->
    <div class="col-lg-3 col-md-6 mb-4" ng-repeat="article in homeCtrl.articles">
      <!-- Blog Post -->
      <div class="card">
        <img class="card-img-top" ng-src="{{homeCtrl.getFaceImg(article.image)}}" alt="">
        <div class="card-body">
          <h4 class="card-title" ng-bind-html="homeCtrl.renderHtml(article.title)"></h4>
          <p class="card-text" ng-bind-html="homeCtrl.renderHtml(article.description)"></p>
        </div>
        <div class="card-footer">
          <a href="#!/post/{{article._id}}" class="btn btn-primary">Continuar &rarr;</a>
        </div>
      </div>
      <!-- Pagination -->
      <!-- <ul class="pagination justify-content-center mb-4">
        <li class="page-item" ng-class="homeCtrl.currentPage == 1 ? 'disabled' : ''">
          <button class="page-link" ng-click="homeCtrl.getPrevPosts()">&larr; Voltar</button>
        </li>
        <li class="page-item">
          <button class="page-link" ng-click="homeCtrl.getNextPosts()">Proximo &rarr;</button>
        </li>
      </ul> -->

    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->