 <!-- Jumbotron Header -->
<header class="jumbotron my-4">
    <h1 class="display-3">Bem-vindo ao Blog da Construção</h1>
    <br />
    <p class="lead">Fique por dentro de tudo o que acontece no mercado e receba conteúdos especializados.</p>
    <br />
    <a href="#!contato" class="btn btn-primary btn-lg">Inscreva-se</a>
</header>

<!-- Blog Post Section -->
<section id="post">
    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-lg-3 col-md-6 mb-4" ng-repeat="article in homeCtrl.articles">
        <!-- Blog Post -->
        <div class="card h-100">
          <a href="#!/post/{{article._id}}">
            <img class="card-img-top" ng-src="{{homeCtrl.getFaceImg(article.image)}}" alt="">
          </a>
          
          <div class="card-body">
            <h4 class="card-title" ng-bind-html="homeCtrl.renderHtml(article.title)"></h4>
            <p class="card-text" ng-bind-html="homeCtrl.renderHtml(article.description)"></p>
          </div>
          <div class="card-footer">
            <a href="#!/post/{{article._id}}" class="btn btn-primary">Leia mais &rarr;</a>
          </div>
        </div>
      </div>
    </div>
</section>

<hr>
<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <h2 class="text-center">Entre em contato</h2>
    <hr class="star-primary">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form name="registerForm" ng-submit="homeCtrl.registraUser()" novalidate>   
             <div class="form-group" ng-class="{ 'has-error' : registerForm.name.$invalid && homeCtrl.submitted}">    
              <label for="input">Nome</label>   
              <input type="text" class="form-control " name="name" ng-model="homeCtrl.user.name" placeholder="Nome completo" ng-pattern="/^(\w+)(?:\s[^\s]+)?\s(\w+).*$/" required>    
              <small ng-show="registerForm.name.$invalid && homeCtrl.submitted" class="form-text text-danger">
                Por favor usar nome completo!   
              </small>      
            </div>    
            <div class="form-group" ng-class="{ 'has-error' : registerForm.email.$invalid && homeCtrl.submitted}">
              <label for="input">Email Profissional</label>    
              <input type="email" class="form-control" name="email" ng-model="homeCtrl.user.email" placeholder="contato@gmail.com" required>   
              <small ng-show="registerForm.email.$invalid && homeCtrl.submitted" class="form-text text-danger">
                  Por favor usar email valido!     
              </small>      
            </div>    
            <button type="submit" class="btn btn-primary">Inscreva-se</button>    
          </form>
      </div>
    </div>
  </div>
</section>
