<div class="container-fluid">
	<div class="row">
  	 <div class="col-lg-8 col-md-10 mx-auto">

		  <form>
		  	<input type="text" class="form-control" ng-model="postCtrl.artigo.title" style="width:100%;" placeholder="Nome do autor"/>
		    <br/>
		    <input type="text" class="form-control" ng-model="postCtrl.artigo.imagem" style="width:100%;" placeholder="Nome img"/>
		    <br/>
		    <input type="text" class="form-control" ng-model="postCtrl.artigo.title" style="width:100%;font-size:25px;" placeholder="Titulo"/>
		    <br/><br/>
		   
		    <textarea class="form-control" ng-model="postCtrl.artigo.conteudo"  style="width:100%;height:250px;" placeholder="Escreva algo.."></textarea>

		    <br/><br/>

		    <button class="btn btn-primary" ng-click="postCtrl.teste()">Publicar</button>
			</form>
		</div>
	</div>
</div>
