<header class="masthead">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">[INFOGRÁFICO] 6 PASSOS PARA FAZER UM ORÇAMENTO DE OBRA EFICIENTE</h1>
      <hr>
      <p>Baixe nosso infográfico gratuito e entenda o passo a passo para elaborar um orçamento de obra eficiente, garantindo o controle total sobre o seu projeto.</p>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">BAIXAR INFOGRÁFICO</a>
    </div>
  </div>
</header>

<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <h2 class="text-center">BAIXAR INFOGRÁFICO</h2>
    <hr class="star-primary">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form name="registerForm" ng-submit="contatoCtrl.registraUser()" novalidate>   
             <div class="form-group" ng-class="{ 'has-error' : registerForm.name.$invalid && contatoCtrl.submitted}">    
              <label for="input">Nome</label>   
              <input type="text" class="form-control " name="name" ng-model="contatoCtrl.user.name" placeholder="Nome completo" ng-pattern="/^(\w+)(?:\s[^\s]+)?\s(\w+).*$/" required>    
              <small ng-show="registerForm.name.$invalid && contatoCtrl.submitted" class="form-text text-danger">
                Por favor usar nome completo!   
              </small>      
            </div>    
            <div class="form-group" ng-class="{ 'has-error' : registerForm.email.$invalid && contatoCtrl.submitted}">
              <label for="input">Email Profisional</label>    
              <input type="email" class="form-control" name="email" ng-model="contatoCtrl.user.email" placeholder="contato@empresa.com" required>   
              <small ng-show="registerForm.email.$invalid && contatoCtrl.submitted" class="form-text text-danger">
                  Por favor usar email valido!     
              </small>      
            </div>
            <br />    
            <button type="submit" class="btn btn-primary">BAIXAR!</button>    
          </form>
      </div>
    </div>
  </div>
</section>

 <!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <h2 class="text-center">SOBRE O MATERIAL</h2>
    <hr class="star-light">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p>O orçamento de obra é um assunto bastante discutido entre os profissionais da construção civil e saber como realizar um orçamento assertivo e que permita controlar todos os gastos de uma obra ainda é um grande desafio, mais comum do que se imagina.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p>Pensando nisso, elaboramos um infográfico gratuito, que contém o passo a passo para você planejar, executar e controlar o seu orçamento de obra com eficiência.</p>
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <a href="../img/infografico.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i>
          BAIXAR INFOGRÁFICO
        </a>
      </div>
    </div>
  </div>
</section>


