<header class="masthead" style="background-image: url('../img/bg-landing-page.png')">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">[INFOGRÁFICO] 6 PASSOS PARA FAZER UM ORÇAMENTO DE OBRA EFICIENTE</h1>
      <br/>
      <hr class="small-light">
      <p style="font-size: 22px">Baixe nosso infográfico gratuito e entenda o passo a passo para elaborar um orçamento de obra eficiente, garantindo o controle total sobre o seu projeto.</p>
    </div>
  </div>
</header>

<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <h2 class="text-center">BAIXE GRÁTIS!</h2>
    <hr class="star-primary">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form name="registerForm" ng-submit="contatoCtrl.registraUser()" novalidate>   
             <div class="form-group" ng-class="{ 'has-error' : registerForm.name.$invalid && contatoCtrl.submitted}">    
              <label for="input">Nome</label>   
              <input type="text" class="form-control " name="name" ng-model="contatoCtrl.user.name" placeholder="Nome completo" ng-pattern="/^([A-Za-zÀ-ÿ]+)\s([A-Za-zÀ-ÿ]+)+$/" required>    
              <small ng-show="registerForm.name.$invalid && contatoCtrl.submitted" class="form-text text-danger">
                Por favor usar nome completo!   
              </small>      
            </div>    
            <div class="form-group" ng-class="{ 'has-error' : registerForm.email.$invalid && contatoCtrl.submitted}">
              <label for="input">Email Profisional</label>    
              <input type="email" class="form-control" name="email" ng-model="contatoCtrl.user.email" placeholder="contato@suaEmpresa.com" required>
              <small ng-show="registerForm.email.$invalid && contatoCtrl.submitted" class="form-text text-danger">
                  Por favor usar email valido!     
              </small>      
            </div>
            <br />    
            <button type="submit" class="btn btn-primary">Receber material!</button>   
              <small class="form-text text-secondary">
                  Prometemos não utilizar suas informações de contato para enviar qualquer tipo de SPAM.
              </small>   
          </form>
      </div>
    </div>
  </div>
</section>

 <!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <h2 class="text-center">SOBRE O MATERIAL</h2>
    <hr class="star-light">
    <div class="row material-custom">
      <div class="col-lg-5 ml-auto" >
        <ul>
          <li>Saiba como fazer um orçamento de obra eficiente</li>
          <li>Reduza os custos na sua obra</li>
          <li>Faça checklist do levantamento de quantitativos</li>
        </ul>  
      </div>
      <div class="col-lg-5 mr-auto">
        <ul>
          <li>Controle os gastos da obra de maneira rápida </li>
          <li>Classifique os custos diretos e indiretos</li>
          <li>Calcule o BDI de forma clara</li>
        </ul> 
      </div>
    </div>
  </div>
</section>


